@model Blog.Models.Contact
@{
    ViewData["Title"] = "Contact";
}


<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Contact</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>

<body>



    <main id="main">

        <!-- ======= Contact Section ======= -->
        <br>
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title, text-center">
                    <h3 class="text">Please feel free to contact me anytime.</h3>
                </div>


                <div class="container text-center">
                    <div class="row mt-5 text-center">
                        <div class="col-lg-8 mt-8 mt-lg-0">
                            <form asp-action="Contact">
                                <br>
                                <br>
                                <br>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="FirstName" class="form-control" id="FirstName" required placeholder="First Name" />
                                        <div class="validate"></div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="LastName" class="form-control" id="LastName" required placeholder="Last Name" />
                                        <div class="validate"></div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="email" class="form-control" name="Email" id="Email" required placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                                        <div class="validate"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Message" class="form-control"></label>
                                    <textarea asp-for="Message" rows="5" required placeholder="How may I help you today?"></textarea>
                                    <div class="validate"></div>
                                </div>
                                <div class="text-center"><button type="submit" id="button">Send Message</button></div>

                            </form>

                        </div>

                    </div>
                </div>
            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
</body>
